.movieList{
    width: 100%;
    margin-top: 20px;
.swiperHeader{
    width: 100%;
    background-color: rgb(183, 0, 0);
    border-radius: 20px;
    border: 1px solid #fff;
   display: flex;
   justify-content: center;
   color: rgb(255, 255, 255);
   align-items: center;
}
    .movieSwiper{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }
}